Repository arnemoor/rag-chatbot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --prose-wrap always

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,scss,html}": ["prettier --write"],
  "*.md": ["prettier --write --prose-wrap always"]
}

fix: playground/demo dropdown issues and add model selection
  widget/src/demo.html
  widget/src/playground.html
  worker/src/models.ts
Due: eslint --fix, prettier --write

feat: add GPT-5 and Claude 4.x model support
  CLAUDE.md
  worker/src/config.ts
  worker/src/models.ts
Due: eslint --fix, prettier --write, prettier --write --prose-wrap always

fix: improve deployment scripts and automation
  scripts/README.md
  scripts/deploy.sh
  scripts/get-account-info.sh
  scripts/migrate-sample-docs.sh
  scripts/setup.sh
  scripts/upload-documents.sh
Due: prettier --write --prose-wrap always

fix: simplify playground and fix model validation
  widget/src/components/chat-message.js
  widget/src/playground.html
  widget/src/services/api-service.js
  widget/src/utils/input-validator.js
Due: eslint --fix, prettier --write

docs: update example configurations for current structure
  .env.example
  examples/.env.basic
  examples/.env.enterprise
  examples/.env.production
  examples/.env.security
  examples/README.md
  examples/standalone-chat/index.html
Due: prettier --write, prettier --write --prose-wrap always

feat: enhance worker security and CORS handling
  package-lock.json
  worker/package.json
  worker/src/index.ts
  worker/src/middleware/cors.ts
  worker/src/middleware/security.ts
  worker/src/routes/chat.ts
  worker/src/types.ts
  worker/src/utils/error-handler.ts
  worker/src/validation.ts
Due: eslint --fix, prettier --write

docs: consolidate and update documentation
  AGENTS.md
  README.md
  docs/CONTRIBUTING.md
  docs/README.md
  docs/SECURITY.md
  docs/SETUP.md
  docs/TROUBLESHOOTING.md
  docs/architects/deployment-options.md
  docs/architects/infrastructure.md
  docs/architects/integration-patterns.md
  docs/architects/security.md
  docs/architects/system-architecture.md
  docs/developers/api-reference.md
Due: prettier --write --prose-wrap always

fix: address code review findings - CORS, error handling, and test coverage
  docs/developers/quickstart.md
  scripts/install-dependencies.sh
  scripts/test-coverage.sh
  worker/src/middleware/cors.ts
  worker/src/routes/chat.ts
  worker/src/utils/error-handler.ts
Due: eslint --fix, prettier --write, prettier --write --prose-wrap always

fix: address remaining code review feedback
  scripts/setup.sh
  worker/src/index.test.ts
Due: eslint --fix, prettier --write

fix: update sample documents with relevant, unique content
  sample-documents/non-fiction/self-help/de/personal-development.md
  sample-documents/non-fiction/self-help/en/personal-development.md
  sample-documents/non-fiction/self-help/fr/personal-development.md
  sample-documents/reference/catalog/de/library-catalog.md
  sample-documents/reference/catalog/en/library-catalog.md
  sample-documents/reference/catalog/fr/library-catalog.md
  sample-documents/reference/catalog/it/library-catalog.md
  sample-documents/science/research/de/research-methods.md
  sample-documents/science/research/en/research-methods.md
  sample-documents/technology/programming/de/programming-languages.md
  sample-documents/technology/programming/en/programming-languages.md
  sample-documents/technology/programming/fr/programming-languages.md
Due: prettier --write --prose-wrap always

fix: complete translations and improve classic fiction content
  sample-documents/fiction/novels/en/classic-literature.md
  sample-documents/non-fiction/self-help/it/personal-development.md
  sample-documents/science/research/fr/research-methods.md
  sample-documents/science/research/it/research-methods.md
  sample-documents/technology/programming/it/programming-languages.md
Due: prettier --write --prose-wrap always

feat: complete classic fiction translations for all languages
  sample-documents/fiction/novels/de/classic-literature.md
  sample-documents/fiction/novels/fr/classic-literature.md
  sample-documents/fiction/novels/it/classic-literature.md
Due: prettier --write --prose-wrap always

fix: upload script to always use remote R2
  scripts/upload-documents.sh
Due: none

feat: add sync deletion feature to document upload script
  README.md
  docs/DOCUMENT_MANAGEMENT.md
  docs/ESSENTIAL.md
  docs/README.md
  docs/SETUP.md
  scripts/upload-documents.sh
Due: prettier --write --prose-wrap always

fix: standardize PAGES_PROJECT_NAME variable across all configurations
  docs/SETUP.md
  examples/.env.basic
  examples/deployment-config.json.template
  scripts/deploy.sh
Due: prettier --write --prose-wrap always

feat: add configurable marketing name for branding
  .gitignore
  widget/build.js
  widget/src/demo.template.html
  widget/src/iframe.template.html
  widget/src/playground.template.html
  widget/src/r2browser.template.html
Due: eslint --fix, prettier --write

feat: add friendly messages for empty language and category dropdowns
  widget/src/playground.template.html
Due: prettier --write

feat: add re-index button to R2 browser for triggering AutoRAG sync
  widget/src/r2browser.template.html
  worker/src/index.ts
  worker/src/routes/autorag.ts
  worker/src/types.ts
  worker/wrangler.toml.template
Due: eslint --fix, prettier --write

docs: add comprehensive user guide and R2 browser documentation
  docs/DOCUMENT_MANAGEMENT.md
  docs/README.md
  docs/USER_GUIDE.md
  docs/developers/api-reference.md
Due: prettier --write --prose-wrap always

fix: correct folder structure documentation to show 3-level hierarchy
  docs/DOCUMENT_MANAGEMENT.md
  docs/SETUP.md
  docs/USER_GUIDE.md
Due: prettier --write --prose-wrap always
