Repository arnemoor/rag-chatbot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --prose-wrap always

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,scss,html}": ["prettier --write"],
  "*.md": ["prettier --write --prose-wrap always"]
}

Fix broken links and references
  README.md
  package.json
Due: prettier --write, prettier --write --prose-wrap always

Add missing .env example files
  examples/.env.basic
  examples/.env.enterprise
  examples/.env.production
Due: none

Fix deployment configuration and documentation
  .gitignore
  README.md
  docs/SETUP.md
  package.json
  scripts/deploy.sh
  scripts/test-deploy.sh
  widget/wrangler.toml
  worker/wrangler.toml
Due: prettier --write, prettier --write --prose-wrap always

Fix environment variable export in deploy scripts
  scripts/deploy.sh
  scripts/test-deploy.sh
Due: none

Fix R2 bucket name environment variable mismatch
  scripts/deploy.sh
Due: none

Update wrangler to version 4
  scripts/install-dependencies.sh
  worker/package.json
Due: prettier --write

Add uninstall script for fresh testing
  scripts/uninstall.sh
Due: none

Simplify dependencies to eliminate deprecation warnings
  package.json
Due: prettier --write

Fix document upload path and improve deployment output
  scripts/deploy.sh
  scripts/upload-library-documents.sh
Due: none

Fix color codes in deploy script output
  scripts/deploy.sh
Due: none

Fix Pages project creation on re-deployment
  scripts/deploy.sh
Due: none

Improve Pages project creation error handling
  scripts/deploy.sh
Due: none

Fix Pages project detection regex
  scripts/deploy.sh
Due: none

Fix Pages project creation status messages
  scripts/deploy.sh
Due: none

fix: address code review feedback - critical fixes
  README.md
  docs/ESSENTIAL.md
  docs/README.md
  docs/SETUP.md
  docs/developers/api-reference.md
  worker/src/index.test.ts
  worker/src/models.ts
  worker/src/routes/chat.ts
  worker/src/routes/health.ts
  worker/src/test-utils.ts
  worker/src/types.ts
  worker/vitest.config.ts
Due: eslint --fix, prettier --write, prettier --write --prose-wrap always

refactor: remove all hardcoded category/product defaults - strict R2 sourcing
  widget/src/autorag-widget.js
  widget/src/config-service.js
  worker/src/config.ts
  worker/src/routes/chat.ts
  worker/src/validation.ts
Due: eslint --fix, prettier --write

fix: make demo and playground fully dynamic - no hardcoded options
  widget/src/demo.html
  widget/src/playground.html
Due: prettier --write

fix: remove all remaining hardcoded defaults per code review
  docs/developers/api-reference.md
  widget/src/playground.html
  widget/src/services/api-service.js
  worker/src/routes/config.ts
Due: eslint --fix, prettier --write, prettier --write --prose-wrap always

fix: add --yes flag to npx commands to prevent hanging on package installation prompts
  scripts/deploy.sh
Due: none

fix: playground apiUrl initialization issue
  widget/src/playground.html
Due: prettier --write
